name: django-web
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Comprobar repositorio
              uses: actions/checkout@v2

            - name: Configurar Python
              uses: actions/setup-python@v2
              with:
                  python-version: 3.13
            
            - name : instalar depencias
              run: |
                    cd ejercicioTrackDevops1/ejercicioTrackDevops1-main
                    pip install -r requirements.txt

            - name: Ejecutar pruebas
              run: |
                    cd ejercicioTrackDevops1/ejercicioTrackDevops1-main
                    python manage.py test
                    
            - name: Crear carpeta en servidor aws
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.IPSERVIDOR }} #secretos
                username: ${{ secrets.USER }}
                key: ${{ secrets.PASSWORD }}
                port: ${{ secrets.PORT }}
                script: mkdir -p /home/ubuntu/ejercicio

